img{
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    height: 90%;
}

#cardsContainer{
    margin: auto;
    margin-top: 2%;
    width: 80%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    column-gap: 20px;
    justify-content: center;
    grid-template-rows: repeat(2, 40%);
    row-gap: 20px;
}

.card{
    background-color: gainsboro;
    width: 100%;
    height: 100%;
}

.card:hover{
    background-color: rgb(68, 68, 68);
}

.card:active{
    background-color: white;
}
